@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-accent: #48b21b;
    --color-light-accent: #a8d1a7;
    --color-lighter-accent: #cde5cd;
    --color-black: #000000;
    --color-white: #f5f5f5;
    --color-background: #48b21b0f;
    --color-dark-gray: #999999;
    --color-light-gray: #bdbdbd;

    --color-garden-dirt: #946038;
    --color-garden-dirt-hover: #815431;

    --color-window-dirt: #7a461f;
    --color-window-dirt-darker: #613819;

    --font-sans: "Lexend", sans-serif;
}

html,
body {
    height: 100%;
}
